* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

header {
    height: 60px;
    background-color: #fea500;
}

main {
    margin-top: 20px;
}

#menu {
    display: flex;
    justify-content: center;
}

#menu .container {
    width: 95%;
}

#menu .row {
    display: flex;
    gap: 5px;
}

#menu .link {
    background-color: black;
    height: 20px;
}

#content {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

#content .container {
    width: 95%;
}

#content .row {
    display: flex;
    gap: 20px;
}

#content .first {
    height: 400px;
    background-color: #fea500;
}

#content .second-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#content .second-area .second {
    height: 190px;
    background-color: #fea500;
}

#content .third-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#content .third-area .third {
    height: 64px;
    background-color: black;
}

footer {
    margin-top: 250px;
    height: 60px;
    background-color: #fea500;
}